@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}

/**Container**/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container{
    max-width:600px;
    margin:auto;
}